/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  border: 4px solid red;
  align-items: center;
  justify-content: center;
}

.react-transform-wrapper,
.react-transform-component {
  height: 100% !important;
  width: 100% !important;
}

.react-transform-wrapper {
  border: 10px solid green;
}

svg {
  border: 2px solid blue;
}
