@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-transform-wrapper,
.react-transform-component {
  height: 100% !important;
  width: 100% !important;
}

path {
  stroke: white;
  stroke-width: 0.01em;
}

.svgtext {
  color: red;
  fill: red;
  z-index: 100;
}

.label-text {
  fill: black;
  width: 50%;
  font-size: 0.2em;
}

.tooltip {
  padding: 0.5em 0.8em !important;
}
